    <div class="menu">
		<% if (loggedInUser && loggedInUser.userId) {  %>
		  <div class="menu-item"><a href="/inbox">Inbox</a></div>

		  <% if(loggedInUser.userRole === "admin") { %>
		  <div class="menu-item"><a href="/users">Users</a></div>
		  <% } %>

		  <div class="menu-item">

		    <% if (loggedInUser && loggedInUser.userAvatar) { %>
			<img
			  src="./uploads/avatar/<%= loggedInUser.userAvatar %>"
			  alt="<%= loggedInUser.userName %>"
			/>
			<% } else { %>
			<img src="./images/nophoto.png" alt="<%= loggedInUser.userName %>" />
        <% } %><a href="/" id="LOGOUT">LogOut</a>

		  </div>
		<% } else { %>
		  <div class="menu-item"><a href="/">Login</a></div>
		<% } %>

	  </div>
